﻿<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      internalLogFile="C:/ApplicationLogs/tradefoundation/Trade/AuthServer/NLogInternal.log"
      internalLogLevel="Error"
      autoReload="true" >

  <extensions>
    <add assembly="Yokozuna.AspNetCore.Logging.Nlog" />
  </extensions>

  <variable name="Collector" value="tradefoundation" />
  <variable name="Application" value="trade/dealershipmanagement-private-api" />
  <variable name="Environment" value="Development" />

  <targets>
    <target name="Error" type="YokozunaErrorTarget" Collector="${Collector}" Application="${Application}" Environment="${Environment}" />
    <target name="Profile" type="YokozunaProfileTarget" Collector="${Collector}" Application="${Application}" Environment="${Environment}" />
    <target name="Debug" type="YokozunaDebugTarget" Collector="${Collector}" Application="${ApplicationName}" Environment="${Environment}" />
    <target name="BlackHole" xsi:type="Null" formatMessage="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="Error" />
    <logger name="*" level="Info" writeTo="Debug" />
    <logger name="Ingress.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Microsoft.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="csn.healthcheck.*" minlevel="Trace" writeTo="BlackHole" final="true" />
    <logger name="Elastic.Apm" minlevel="Trace" writeTo="BlackHole" final="true" />
  </rules>
</nlog>