
SurveyApi/.idea/
SurveyApi/.idea/**
SurveyApi/bin/
SurveyApi/obj/
SurveyApi/SurveyApi.Tests/obj/
SurveyApi/SurveyApi.Tests/bin/
SurveyApi/SurveyApi/obj/
SurveyApi/SurveyApi/bin/
survey-web/node_modules/
.DS_Store