
CharactorSelectorApi/.idea/
CharactorSelectorApi/.idea/**
CharactorSelectorApi/bin/
CharactorSelectorApi/obj/
CharactorSelectorApi/SurveyApi.Tests/obj/
CharactorSelectorApi/SurveyApi.Tests/bin/
CharactorSelectorApi/SurveyApi/obj/
CharactorSelectorApi/SurveyApi/bin/

