<div class="nes-container with-title" *ngIf="surveys">
  <p class="title">Survey List</p>
  <ol>
    <li class="survey-list-container nes-container" *ngFor="let survey of surveys">
      <a class="col-l-4" routerLink="/survey/{{survey.id}}">
        <div>{{survey.name}} - {{survey.description}}</div>
      </a>
    </li>
  </ol>
</div>

<div class="nes-container with-title" *ngIf="answers">
  <p class="title">Answer List</p>
  <ol>
    <li class="survey-list-container nes-container" *ngFor="let answer of answers">
      <a class="col-l-4" routerLink="/answer/{{answer.id}}">
        <div>Answer: {{answer.createdDateUtc}} - By: {{answer.userId}}</div>
      </a>
    </li>
  </ol>
</div>
